.header{
    display: flex;
    height: 60px;
    justify-content: space-between;
}
.header .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo img{
    height: 46px;
    width: 120px;
    padding: 18px 14px 18px 16px;
}
.search-box{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    width: 300px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
}
.search-box .search-button{
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 35px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    margin: 10px;
}
.mic button{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border-radius: 50%;
    border: 1px solid black;
}
